@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  > .row {
    .navbar {
      background-color: #c9dff6;
      > .container-fluid {
        > .text-uppercase {
          font-weight: bold;
          font-variant: small-caps;
          color: rgb(0, 87, 128);
          letter-spacing: 2px;
          font-family: "Lobster", cursive;
          transition: 0.5s;
          &:hover {
            color: rgba(9, 68, 68, 0.781);
          }
        }
        > .collapse {
          > .navbar-nav {
            > .nav-item {
              margin: 0px 5px;
            }
          }
        }
      }
    }
  }

  .carousel-caption {
    background-color: #9ecdff65;
    > .h5,
    h5 {
      font-size: 2.25rem;
      font-variant: small-caps;
    }
    > p {
      font-size: 1.25rem;
    }
  }
  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 5px;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70% 100%;
    border-radius: 50%;
    background-color: #9ecdff65;
  }
  .fa-solid,
  .fas {
    background-color: #c9dff6;
  }

  .btn-outline-info {
    font-weight: bold;
    margin: 10px 0px;
    &:hover {
      background-color: #c9dff6;
      color: #000;
    }
  }
}
