@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  > .row {
    .navbar {
      background-color: #e3f2fd;
      > .container-fluid {
        > .text-uppercase {
          font-weight: bold;
          font-variant: small-caps;
          color: rgba(18, 141, 141, 0.781);
          font-family: "Dancing Script", cursive;
          transition: 0.5s;
          &:hover {
            color: rgba(9, 68, 68, 0.781);
          }
        }
        > .collapse {
          > .navbar-nav {
            > .nav-item {
              margin: 0px 5px;
            }
          }
        }
      }
    }
  }
}
